<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>New Contact</title>
</head>
<body>
    <div class='container'>
        <h1>New contact added!</h1>
        <ul class='list-unstyled'>
            <li><h3>{{ newcontact.getName }}</h3></li>
            <li>{{ newcontact.getPhoneNumber }}</li>
            <li>{{ newcontact.getAddress }}</li>
        </ul>
        <h3><a href='/'>View all acquaintances</a></h3>
    </div>
</body>
</html>
