<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link href='css/styles.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bellefair' rel='stylesheet'>
    <title>Single Delete Complete!</title>
  </head>
  <body>
    <div class='container'>
      <h3>We deleted your pal!</h3>
      {% for result in contact %}
        <div class='row'>
          <div class='col-md-1'>
            <h6><img src='{{ result.deleteOne }}' alt='contact photo' width='64px'></h6>
          </div>
          <div class='col-md-11'>
            <ul class='list-unstyled'>
              <li><h4>{{ result.deleteOne }}</li>
              <li>Address: {{ result.deleteOne }}</li>
            </ul>
          </div>
        </div>
      {% endfor %}
      <h3><a href='/'>View all acquaintances</a></h3>
    </div>
  </body>
</html>
