<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Delete Success</title>
</head>
<body>
    <div class='container'>
        <h2>You have successfully deleted everyone you know...</h2>
        <h5><em>Hope there aren't any regrets</em></h5>
        <h3><a href='/'>Click here</a> to start your life over with new friends</h3>
    </div>
</body>
</html>
