<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link href='css/styles.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bellefair' rel='stylesheet'>
    <title>Delete Success</title>
  </head>
  <body>
    <div class='container'>
      <h2>Address book cleared! ...</h2>
      <h5><em>Hope there aren't any regrets</em></h5>
      <br>
      <h4><a href='/'>Click here</a> to start your life over with new friends</h4>
    </div>
  </body>
</html>
