<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link href='css/styles.css' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Bellefair' rel='stylesheet'>
    <title>Search Results</title>
  </head>
  <body>
    <div class='container'>
      {% if contacts is empty %}
        <h3>No contact found; time to make more friends</h3>
      {% else %}
        {% for contact in contacts %}
          <h3>Hey, here is the friend you were looking for!</h3>
          <h6><em>Make it a great day.</em></h6>
          <div class='row'>
            <div class='col-md-1'>
              <h6><img src='{{ contact.getImage }}' alt='contact photo' width='64px'></h6>
            </div>
            <div class='col-md-11'>
              <ul class='list-unstyled'>
                <li><h4>{{ contact.getName }}</h4></li>
                <li>Phone: {{ contact.getPhoneNumber }}</li>
                <li>Address: {{ contact.getAddress }}</li>
              </ul>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      <h3><a href='/'>View all acquaintances</a></h3>
      <!-- <br>
      <h4>Want to update this contact?</h4>
      <form action='/create_contact' method='post'>
        <div class='form-group'>
          <label for='name'>Name:</label>
          <input type='text' name='name' id='name' class='form-control'>
        </div>
        <div class='form-group'>
          <label for='phone_number'>Phone Number:</label>
          <input type='text' name='phone_number' id='phone_number' class='form-control'>
        </div>
        <div class='form-group'>
          <label for='address'>Full Address:</label>
          <input type='text' name='address' id='address' class='form-control'>
        </div>
        <div class='form-group'>
          <label for='image'>Image URL:</label>
          <input type='text' name='image' id='image' class='form-control'>
        </div>
        <button type='submit' class='btn'>Complete Update</button>
      </form>
      <h4>Want to delete this person from your life?</h4>
      <form action='/delete_one' method='post'>
        <button type='submit' class='btn' id='trash'>Delete 'em</button>
      </form> -->
    </div>
  </body>
</html>
