body {
    background-color: #e6fff2;
    font-family: 'Bellefair', serif;
    border: 2px solid black;
}

#border {
    border: 2px solid black;
    padding-left: 8px;
    margin-right: 150px;
    background-image: url('/../img/lines.jpg');
    background-size: cover;
    text-shadow: 1px 1px black;
    color: white;
}

.btn {
    background-color: #ccb3ff;
    color: #ffff99;
}

#scan {
    background-color: #ffcc99;
}

#update {
    background-color: #ff3399;
}

#trash {
    background-color: #ff9999;
}
